//body

$fontSize:22px;
$body-color: rgba(0, 0, 0, 0.767);
$colora: rgb(88, 88, 230);
$hovera: rgb(248, 244, 1);
$margin:10px;

//col

$gridsize: 12;
$padcol: 10px;
$xs-min : 0px;
$sm-min : 768px;
$md-min : 992px;
$lg-min : 1200px;
$sm-max : 750px;
$md-max : 970px;
$lg-max : 1170px;
$xsMax : 767px;
$mdMax : 1199px;
$smMax : 991px;


//container

$xs-min : 0px;
$sm-min : 768px;
$md-min : 992px;
$lg-min : 1200px;
$sm-max : 750px;
$md-max : 970px;
$lg-max : 1170px;
$padcont : 15px;

//row

$padrow: 15px;

// button

$btn-padding : 12px;
$btn-padding : 12px;
$btn-padding-sm : 5px 10px;
$btn-line-sm :1.5;
$btn-size-sm : 12px;
$btn-border-sm : 3px;

$btn-padding-lg : 10px 16px;
$btn-line-lg : 1.3333333;
$btn-size-lg : 18px;
$btn-border-lg : 6px;

$btn-padding-xs : 1px 5px;
$btn-line-xs : 1.5;
$btn-size-xs : 12px;
$btn-border-xs : 3px;

$border : 1px;
$radius : 4px;

$btn-default-color : #333;
$btn-default-bg : #fff;
$btn-default-border : #ccc;
$btn-link-color : #337ab7;
$btn-link-bg :  transparent;
$btn-link-border : transparent;
$btn-color : #fff;
$btn-primary-bg : #337ab7;
$btn-primary-border : #2e6da4;
$btn-success-bg : #5cb85c;
$btn-success-border : #4cae4c;
$btn-info-bg : #5bded3;
$btn-info-border : #45e4c1;
$btn-warning-bg : #f0ad4e;
$btn-warning-border : #f0ad4e;
$btn-danger-bg : #d9534f;
$btn-danger-border : #d43f3a;
$btn-violet-bg : #b464e2;
$btn-violet-border : #a850db;
$link: #521796;


//txt

$text-muted : #777;
$text-primary : #337ab7;
$text-success : #3c763d;
$text-info : #31708f;
$text-warning : #8a6d3b;
$text-danger : #a94442;
$bg-primary : #337ab7;
$bg-success : #dff0d8;
$bg-info : #d9edf7;
$bg-warning : #fcf8e3;
$bg-danger : #f2dede;
$padMar : 10px;
$marginAlert : 20px;
$border-success : #d6e9c6;
$border-info : #bce8f1;
$border-warning : #faebcc;
$border-danger : #ebccd1;


